:root {
    --buttoncolor: #289BDE;
    --backgroundcolor: rgba(29, 29, 29, 0.7);

}

.image-titel {
    background-color: var(--backgroundcolor);   
  
}
.explore-section, .background-custom-color{
    background-color: #F4FAFD;
}
